playgrounds/paschke/src/main/ressources/dtd/relocation_zones_v1.dtd

<?xml version="1.0" encoding="utf-8"?>

<!-- ============================================================ -->


<!ELEMENT relocationZones (relocationZone)*>

<!ELEMENT relocationZone (node)*>
<!ATTLIST relocationZone    id  CDATA #REQUIRED>

<!ELEMENT node EMPTY>
<!ATTLIST node              x   CDATA #REQUIRED
                            y   CDATA #REQUIRED>

<!-- ============================================================ -->
