contribs/carsharing/src/main/ressources/dtd/freefloating_areas_v1.dtd

<?xml version="1.0" encoding="utf-8"?>

<!-- ============================================================ -->


<!ELEMENT polygons (polygon)*>

<!ELEMENT polygon (node)*>
<!ATTLIST polygon  id  CDATA #REQUIRED>

<!ELEMENT node EMPTY>
<!ATTLIST node              x   CDATA #REQUIRED
                            y   CDATA #REQUIRED>

<!-- ============================================================ -->
